.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.transbox-with-padding {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(133, 133, 133, 0.5);
}

h1 {
  font-size: 4em;
  color: #ffffff;
  text-shadow: 1px 1px 10px #cb4cbf, 1px 1px 10px #ccc;
}

.assignment-part {
  margin: 20px 0;
}

.assignment-part h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 1px 1px 10px #86307d, 1px 1px 10px #ccc;
}

.assignment-part p {
  color: #ffffff;
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
  padding-bottom: 5px;
}

ul {
  text-align: center;
  color: #ffffff;
  list-style-position: inside;
}